.leftbar{
    flex: 0.35;
    display: flex;
    flex-direction: column;
}
.upper{
    background-color: rgb(236, 192, 97);
    border-radius: 30px 0px 0px 0px;
    color: white;
    border-bottom: 5px solid rgb(245, 245, 245);
    height: 94vh;
}
.video{
    position: relative;
    top: 100px;
    left: 50px;
}
.bottom{
    background-color: rgb(236, 192, 97);
    border-radius: 0px 0px 0px 30px;
    color: white;
    border-top: 5px solid rgb(245, 245, 245);
}
.video1{
    display: flex;
    width: fit-content;
    margin: 30% auto;
    font-size: 3.9vh;
}

